body {
    min-height: 100vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.container {
min-height: 375px;
width: 200px;
padding: 50px;
}

.container--orange {
background-color: hsl(31, 77%, 52%);
border-radius: 15px 0px 0px 15px;
}

.container--teal {
background-color: hsl(184, 100%, 22%);
}

.container--green {
background-color: hsl(179, 100%, 13%);
border-radius: 0px 15px 15px 0px;
}

.button {
    margin-top: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    background-color: hsl(0, 0%, 95%);
    border: none;
    border-radius: 20px;
}

.button--orange {
    color: hsl(31, 77%, 52%);
}

.button--teal{
    color: hsl(184, 100%, 22%);
}

.button--green{
    color: hsl(179, 100%, 13%);
}

h2 {
color: hsl(0, 0%, 95%);
font-family: 'Big Shoulders Display';
font-style: normal;
font-weight: 700;
font-size: 2rem;
}

p {
color: hsla(0, 0%, 100%, 0.75);
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 25px;
}

@media screen and (max-width: 375px){

body {
    width: 100%;
    display: block;
}

.container--orange {
    border-radius: 15px 15px 0px 0px;
    }
    
.container--green {
    border-radius: 0px 0px 15px 15px;
    }
}