body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
min-height: 400px;
width: 200px;
}

.container--orange {
background-color: #e68323;
}

.container--teal {
background-color: #076970;
}

.container--green {
background-color: #033f3f;
}

h2 {
color: hsl(0, 0%, 95%);
font-family: 'Big Shoulders Display';
font-style: normal;
font-weight: 700;
}

p {
color: hsla(0, 0%, 100%, 0.75);
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
}

